In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

In [4]:
data = pd.read_csv('data.csv')
display(data)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000

In [8]:
len(data)

1890

# Предобработка датасета

In [117]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
display(answer_ls)

[]

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [911]:
#data = pd.read_csv('../input/imbd-sf/data.csv')
data = pd.read_csv('data.csv')

#1. У какого фильма из списка самый большой бюджет?
b=data.sort_values(['budget'], ascending=False).head(1)
display(b)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [118]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)
display(answer_ls)

[4]

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [912]:
#2. Какой из фильмов самый длительный (в минутах)
t=data.sort_values(['runtime'], ascending=False).head(1)
display(t)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [121]:
answer_ls.append(2)
display(answer_ls)

[4, 2]

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [913]:
#3 Какой из фильмов самый короткий (в минутах)
t=data.sort_values(['runtime'], ascending=True).head(1)
display(t)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [125]:
answer_ls.append(3)
display(answer_ls)

[4, 2, 3]

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [126]:
t_mean=data['runtime'].mean()
display(t_mean)

109.65343915343915

In [127]:
answer_ls.append(2)
display(answer_ls)

[4, 2, 3, 2]

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [128]:
t_mean=data['runtime'].median()
display(t_mean)

106.5

In [129]:
answer_ls.append(1)
display(answer_ls)

[4, 2, 3, 2, 1]

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [915]:
#6. Какой самый прибыльный фильм?

data['profit']=(data['revenue']-data['budget'])

display(data.sort_values(['profit'], ascending=False).head(1))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [132]:
answer_ls.append(5)
display(answer_ls)

[4, 2, 3, 2, 1, 5]

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [48]:
#7. Какой фильм самый убыточный?

data['profit'] = data.revenue - data.budget
display(data[data.profit == data.profit.min()])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev_bud,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,-413912431

In [133]:
answer_ls.append(2)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2]

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [49]:
#8. Сколько всего фильмов в прибыли?
data['profit']=(data['revenue']-data['budget'])
benefit=data[data['profit']>0]
display(len(benefit))

1478

In [134]:
answer_ls.append(1)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1]

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [916]:
#9. Самый прибыльный фильм в 2008 году?
data['profit']=(data['revenue']-data['budget'])
profit_2008=data[data['release_year']==2008]
display(profit_2008[profit_2008['profit']==profit_2008['profit'].max()])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [135]:
answer_ls.append(4)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4]

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [917]:
#10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
data['profit']=(data['revenue']-data['budget'])
loss_2012_2014=data[(data['release_year']>2011)&(data['release_year']<2015)].sort_values(['profit'], ascending=True).head(1)
display(loss_2012_2014)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

In [138]:
answer_ls.append(5)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5]

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [920]:

genres_df=pd.DataFrame(data.genres.str.split('|').tolist())

genres_df.stack().value_counts().head(1)

Drama    782
dtype: int64

In [139]:
answer_ls.append(3)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [921]:
#12. Какого жанра среди прибыльных фильмов больше всего?
data['profit']=(data['revenue']-data['budget'])
profit_films=data[data['profit']>0]
profit_genres=pd.DataFrame(profit_films['genres'].str.split("|").tolist())
display(profit_genres.stack().value_counts().head(1))

Drama    560
dtype: int64

In [140]:
answer_ls.append(1)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [923]:

director_df=pd.DataFrame(data['director'].str.split('|').tolist()).stack().value_counts().head(1)
display(director_df)

Steven Soderbergh    13
dtype: int64

In [152]:
answer_ls.append(3)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3]

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [924]:
data['profit']=(data['revenue']-data['budget'])
profit_films=data[data['profit']>0]
director_profit_df=pd.DataFrame(profit_films['director'].str.split('|').tolist())
director_profit_df.stack().value_counts().head(1)

Ridley Scott    12
dtype: int64

In [153]:
answer_ls.append(4)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4]

 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [926]:
data = pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])
#data['director_list']=data['director'].str.split('|').tolist()                                            #new column with directors as list type
directors_df=pd.DataFrame(data['director'].str.split('|').tolist(), data['profit']).stack().reset_index() #create new DataFrame in order to separate directors  
res=directors_df.groupby(directors_df[0])['profit'].sum().sort_values(ascending=False)                    # find sum profit for each director and sort the results

display(res.head(1))

#display(directors_df)

0
Peter Jackson    5202593685
Name: profit, dtype: int64

In [207]:

answer_ls.append(5)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5]

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [927]:
data = pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])
#data['actors_listed']=data['cast'].str.split('|').tolist()
actors_df=pd.DataFrame(data['cast'].str.split('|').tolist(), data['profit']).stack().reset_index()
res=actors_df.groupby(actors_df[0])['profit'].sum().sort_values(ascending=False)
display(res.head(1))

0
Emma Watson    6666245597
Name: profit, dtype: int64

In [259]:
answer_ls.append(1)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [930]:
data = pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])
data_2012=data[data['release_year']==2012]
actors_2012_df=pd.DataFrame(data_2012['cast'].str.split('|').tolist(), data_2012['profit']).stack().reset_index()
actors_2012_df.columns=['profit','level_1', 'actor']
#display(actors_2012_df)
res=actors_2012_df.groupby(['actor'])['profit'].sum().sort_values(ascending=True)
display(res.head(1))

actor
Kirsten Dunst   -68109207
Name: profit, dtype: int64

In [275]:
answer_ls.append(3)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3]

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [933]:
data = pd.read_csv('data.csv')
#data['profit']=(data['revenue']-data['budget'])

budget_films_df=data[data['budget']>data['budget'].mean()]
res=pd.DataFrame(budget_films_df['cast'].str.split('|').tolist(), budget_films_df['budget']).stack().value_counts().head(1)


display(res)

Matt Damon    18
dtype: int64

In [ ]:
#Вариант с ошибкой: вместо бюджета я посчитала профит.

data = pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])
#data['actors']=data['cast'].str.split('|')
high_profit_films_df=data[data['profit']>data['profit'].mean()]
s=pd.DataFrame(high_profit_films_df['cast'].str.split('|').tolist(), high_profit_films_df['profit']).stack()#.value_counts()
#display(s)
res=s.value_counts()
display(res) 
#display(high_profit_films_df)

In [367]:
answer_ls.append(3)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3, 3]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [937]:
data = pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])
#data['actors_listed']=data["cast"].str.split('|').tolist()
data_nic=data[data['cast'].str.contains("Nicolas Cage", na=False)]
res=pd.DataFrame(data_nic["genres"].str.split('|').tolist()).stack().reset_index()
res=res[0].value_counts().head(1)
display(res)

Action    17
Name: 0, dtype: int64

In [943]:
data = pd.read_csv('data.csv')
nic_gen_list=[]
data_nic=data[data['cast'].str.contains("Nicolas Cage", na=False)]
nic_gen_df=pd.DataFrame(data_nic['genres'].str.split('|'))
for ni in nic_gen_df['genres']:
    nic_gen_list+=ni
res=pd.Series(nic_gen_list).value_counts().head(1)

display(res)

Action    17
dtype: int64

In [368]:
answer_ls.append(2)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3, 3, 2]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [945]:
data = pd.read_csv('data.csv')
companies=pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().value_counts().head(1)
display(companies)

Universal Pictures    173
dtype: int64

In [397]:
answer_ls.append(1)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3, 3, 2, 1]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [946]:
data = pd.read_csv('data.csv')
data_2015=data[data['release_year']==2015]
res=pd.DataFrame(data_2015['production_companies'].str.split('|').tolist()).stack().value_counts().head(1)
display(res)

Warner Bros.    12
dtype: int64

In [398]:
answer_ls.append(4)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3, 3, 2, 1, 4]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [947]:
data = pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])


data_comedy=data[data['genres'].str.contains('Comedy', na=False)]

com_comp_df=pd.DataFrame(data_comedy['production_companies'].str.split('|').tolist(), data_comedy['profit']).stack().reset_index()
com_comp_df.columns=['profit', 'level_number', 'company']  #rename df
res=com_comp_df.groupby(com_comp_df['company']).sum().sort_values(['profit'], ascending=False).head(1)
                                                                 


display(res)

                        profit  level_number
company
Universal Pictures  8961545581            15

In [447]:
answer_ls.append(2)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3, 3, 2, 1, 4, 2]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [948]:
data=pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])
data_2012=data[data['release_year']==2012]
st_pr_df=pd.DataFrame(data_2012['production_companies'].str.split('|').tolist(), data_2012['profit']).stack().reset_index()
st_pr_df.columns=['profit', 'level_1', 'companies']
res=st_pr_df.groupby(['companies'])['profit'].sum().sort_values(ascending=False).head(1)

display(res)

companies
Columbia Pictures    2501406608
Name: profit, dtype: int64

In [462]:
answer_ls.append(3)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3, 3, 2, 1, 4, 2, 3]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [470]:
data=pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])
data_param=data[data['production_companies'].str.contains('Paramount Pictures', na=False)]
res=data_param.sort_values(['profit'], ascending=True).head(1)

display(res)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

In [471]:
answer_ls.append(1)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3, 3, 2, 1, 4, 2, 3, 1]

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [474]:
data=pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])
res=data.groupby(data['release_year'])['profit'].sum().sort_values(ascending=False).head(1)
display(res)

release_year
2015    18668572378
Name: profit, dtype: int64

In [476]:
#answer_ls.append(5)
display(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3, 3, 2, 1, 4, 2, 3, 1, 5]

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [479]:
data=pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])
data_warner=data[data['production_companies'].str.contains('Warner Bros', na=False)]
res=data_warner.groupby(data_warner['release_year'])['profit'].sum().sort_values(ascending=False).head(1)
display(res)

release_year
2014    2295464519
Name: profit, dtype: int64

In [952]:
 answer_ls.append(1)
display(answer_ls)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [949]:

import re
month_list=[]
pattern=re.compile('\d+')
for mo in data['release_date']:
    m=pattern.match(str(mo))
    month_list.append(m.group(0))
month_se=pd.Series(month_list).value_counts().sort_values(ascending=False).head(1)
display(month_se)

9    227
dtype: int64

In [502]:
answer_ls.append(4)

display(answer_ls)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [514]:

import re
summer_list=[]
pattern=re.compile('\d+')
for mo in data['release_date']:
    m=pattern.match(str(mo))
    #display(m.group(0))
    if (m.group(0)=="6") or (m.group(0)=="7") or (m.group(0)=="8"):
        summer_list.append(m.group(0))
summ=pd.Series(summer_list).value_counts().sum()

display(summ)

450

In [516]:
answer_ls.append(2)
display(answer_ls)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [909]:
data=pd.read_csv('data.csv')
data["release_date"]=data["release_date"].astype('str')

  
januar_df=data[data.release_date.str.match("1/", na=False)]
februar_df=data[data.release_date.str.match("2/", na=False)]
dezember_df=data[data.release_date.str.match("12/", na=False)]
winter_df=pd.concat([januar_df, februar_df, dezember_df])
dir=pd.DataFrame(winter_df['director'].str.split('|').tolist()).stack().value_counts()
#display(data)
display(dir)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Nancy Meyers         4
                    ..
Tim Story            1
Michel Gondry        1
John A. Davis        1
Ed Gass-Donnelly     1
Joe Roth             1
Length: 359, dtype: int64

In [957]:
answer_ls.append(5)

display(answer_ls)
display(len(answer_ls))

[4,
 2,
 3,
 2,
 1,
 5,
 2,
 1,
 4,
 5,
 3,
 1,
 3,
 4,
 5,
 1,
 3,
 3,
 2,
 1,
 4,
 2,
 3,
 1,
 5,
 1,
 4,
 2,
 5]

29

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [580]:

import re
data = pd.read_csv('data.csv')
data['profit']=(data['revenue']-data['budget'])

data['month']=data['release_date'].str.extract(r'(\d+)')

profit_month_df=data.groupby('month')['profit'].sum().sort_values(ascending=False)
display(profit_month_df)

month
6     27551262500
12    26563071474
5     25039516141
11    18654155473
7     18307895020
3     13720216540
10    12994907859
4     12876005537
9     10878921041
8      9640610446
2      8854574425
1      5396885454
Name: profit, dtype: int64

In [960]:
answer_ls.append(2)
 
display(answer_ls)
display(len(answer_ls))

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [595]:
data = pd.read_csv('data.csv')
data["tit_len"]=data["original_title"].str.len()
comp_len_df=pd.DataFrame(data['production_companies'].str.split('|').tolist(), data['tit_len']).stack().reset_index()
comp_len_df.columns=['tit_len', 'level_1', 'Companies']
res=comp_len_df.groupby('Companies')['tit_len'].mean().sort_values(ascending=False)

display(res)

Companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: tit_len, Length: 1772, dtype: float64

In [962]:
answer_ls.append(5)
display(answer_ls)
display(len(answer_ls))

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [963]:
data = pd.read_csv('data.csv')
data["tit_sep"]=data["original_title"].str.split(' ').tolist()
data['tit_sep_len']=data["tit_sep"].map(lambda x: len(x))
companies_df=pd.DataFrame(data['production_companies'].str.split('|').tolist(), data['tit_sep_len']).stack().reset_index()
companies_df.columns=['words_count', 'level_1', 'companies']
res=companies_df.groupby(['companies'])['words_count'].mean().sort_values(ascending=False).head(1)

#for li in data["tit_sep"]


display(res)

companies
Four By Two Productions    12.0
Name: words_count, dtype: float64

In [964]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [649]:
data = pd.read_csv('data.csv')
import re
data["tit_sep"]=data["original_title"].str.lower().str.split(' ').tolist()
word_list=[]
for li in data["tit_sep"]:
    word_list+=li
word_list_se=pd.Series(word_list).nunique()
display(word_list_se)

2462

In [965]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [907]:

data_pop=data[["original_title",'vote_average']].sort_values(['vote_average'], ascending=False)
#s=data['vote_average'].value_counts(bins=100)

#diap_max=max(s.index).left


#res=data_pop[data_pop['vote_average']>max(s.index).left]

 
#p=np.percentile(data_pop['vote_average'], 1)

pr_1=round(len(data)/100)

data_best=data_pop.head(pr_1)

display(data_best)
answers=["Inside Out, Gone Girl, 12 Years a Slave", 
         "BloodRayne, The Adventures of Rocky & Bullwinkle", 
         "The Lord of the Rings: The Return of the King", 
         "300, Lucky Number Slevin", 
         "Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King",
         "Inside Out"]

                                         original_title  vote_average
600                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
1082      The Lord of the Rings: The Return of the King           7.9
873                                         The Pianist           7.9
1801                                            Memento           7.9
1192                                   12 Years a Slave           7.9
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
119                             Guardians of the Galaxy           7.9
1184                            The Wolf of Wall Street           7.9
370                                           Inception           7.9
316                                            3 Idiots           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
497   The Lord of the Rings: The Fellowship of the Ring           7.8
28                                            Spotlight           7.8
1214                                 Dallas Buyers Club           7.8

In [698]:
df=data[data["original_title"]=="Inside Out"]
display(df)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,tit_sep
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,"[inside, out]"

In [966]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [905]:
import itertools
from itertools import combinations
data = pd.read_csv('data.csv')

act_pair_list=[]
data["actors"]=data['cast'].str.split('|').tolist()
for act in data["actors"]:

    act_pair=list(itertools.combinations(act,2))
    act_pair_list+=act_pair

act_pair_se=pd.Series(act_pair_list).value_counts().sort_values(ascending=False)   
display(act_pair_se)

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Kal Penn, Paula GarcÃ©s)              1
(Owen Wilson, Jim Parsons)             1
(Jeremy Renner, Anthony Mackie)        1
(Adam Sandler, Shelbie Bruce)          1
(Hugh Laurie, Martha Higareda)         1
Length: 18131, dtype: int64

In [967]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [904]:
data = pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
dir_df=pd.DataFrame(data['director'].str.split('|').tolist(), data['profit']).stack().reset_index()
dir_df.columns=['profit', 'level_1','directors' ]
dir_df['pr_count']=dir_df.profit.apply(lambda x: 1 if x>0 else 0)
dir_df['loss_count']=dir_df.profit.apply(lambda x: 1 if x<=0 else 0)
directors_df=dir_df.groupby(['directors']).sum()
directors_df['film_amount']=directors_df['pr_count']+directors_df['loss_count']
directors_df['pr_amount_rate']=directors_df['pr_count']/(directors_df['pr_count']+directors_df['loss_count'])



directors_1_df=directors_df[directors_df['pr_amount_rate']==1].sort_values(['film_amount'], ascending=False).head(20)

display(directors_1_df)


display(directors_df.loc[['Quentin Tarantino']])
display(directors_df.loc[['Steven Soderbergh']])
display(directors_df.loc[['Robert Rodriguez']])
display(directors_df.loc[['Christopher Nolan']])
display(directors_df.loc[['Clint Eastwood']])

,profit,level_1,pr_count,loss_count,film_amount,pr_amount_rate
directors,,,,,,
Ridley Scott,2044035909,0,12,0,12,1.0
Steven Spielberg,2449700791,0,10,0,10,1.0
Tim Burton,1801663457,0,9,0,9,1.0
Antoine Fuqua,496376048,0,8,0,8,1.0
Brett Ratner,843419041,9,8,0,8,1.0
Christopher Nolan,3162548502,0,8,0,8,1.0
Peter Jackson,5202593685,0,8,0,8,1.0
Michael Bay,2760938960,0,8,0,8,1.0
Louis Leterrier,246091791,0,6,0,6,1.0
David Fincher,987983520,0,6,0,6,1.0
Francis Lawrence,2476979588,0,6,0,6,1.0
Joel Coen,616968145,3,6,0,6,1.0
Adam McKay,517576455,0,6,0,6,1.0
Andy Fickman,380448412,0,6,0,6,1.0
Raja Gosnell,1188104000,0,6,0,6,1.0
Robert Zemeckis,813123904,0,6,0,6,1.0
Sam Raimi,2254066354,0,6,0,6,1.0
Tim Story,678087416,0,6,0,6,1.0
Peter Segal,545449931,0,6,0,6,1.0
Zack Snyder,992937193,0,6,0,6,1.0

,profit,level_1,pr_count,loss_count,film_amount,pr_amount_rate
directors,,,,,,
Quentin Tarantino,1036139583,4,6,1,7,0.857143

,profit,level_1,pr_count,loss_count,film_amount,pr_amount_rate
directors,,,,,,
Steven Soderbergh,1450928588,0,10,3,13,0.769231

,profit,level_1,pr_count,loss_count,film_amount,pr_amount_rate
directors,,,,,,
Robert Rodriguez,496768969,1,8,3,11,0.727273

,profit,level_1,pr_count,loss_count,film_amount,pr_amount_rate
directors,,,,,,
Christopher Nolan,3162548502,0,8,0,8,1.0

,profit,level_1,pr_count,loss_count,film_amount,pr_amount_rate
directors,,,,,,
Clint Eastwood,1329766334,0,10,2,12,0.833333

In [968]:
answer_ls.append(4)

# Submission

In [969]:
len(answer_ls)

36

In [970]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4